{% extends "base.html" %}
{% load staticfiles %}

{% block title %}3VRM Approach{% endblock %}


{% block content %}
<div class="desktop-visible">	
	<ul class="menu menu-hover-lines">
		<li><a href="{% url "homepage" %}">Home</a></li>
		<li><a href="{% url "about" %}">About 3VRM</a></li>
		<li class="active"><a href="{% url "approach" %}">3VRM Approach</a></li>
		<li><a href="{% url "services" %}">3VRM Services</a></li>
		<li><a href="{% url "news" %}">3VRM News</a></li>
		<li><a href="{% url "team" %}">3VRM Team</a></li>
		<li><a href="{% url "contactUs" %}">Contact Us</a></li>
	</ul>
</div>
<div class="container">
		<div class="approach" id="approach-graphic-top">
			<img src="{% static "media/approach graphic.png" %}">
	</div>
	<div class="approach" id="approach-intro">
		<div class="marketing-site-hero-content">
			<h1>Our Approach</h1>
			<p class="subheader">Our Third Party and Vendor Risk Framework™ is our proprietary tool for helping organisations to establish the right overall approach to Third Party and Vendor Risk management.</p>
			<a href="#approach-jump-link" class="round button">find out more</a>
		</div>
	</div>
</div>
<div id="approach-desktop">
	<div class="approach-arrow">
		<div class="grid-x grid-padding-x">
			<div class="cell small-12 flex-container flex-dir-column large-flex-dir-row">
				<div class="callout primary flex-child-auto">
					<div class="callout primary flex-child-auto">
						<a id="approach-jump-link"></a>
						<div class="flip-card card approach-height" ontouchstart="this.classList.toggle('hover');">
							<div class="flip-card-inner approach-height">
								<div class="flip-card-inner-front approach-height approach-box">
									<h3 class="flip-card-inner-front-title approach-font">Govenance</h3>
								</div>
								<div class="flip-card-inner-back approach-height approach-box">
									<p class="flip-card-inner-back-text">Monitoring and reviewing the framework to ensure that it is designed and operating effectively</p>
									<p class="flip-card-inner-back-text">Establishing clear accountabilities for who does what across the Third Party and Vendor life cycle</p>
								</div>
							</div>
						</div>
					</div>
				</div>
	    		<div class="callout primary flex-child-auto">
					<div class="callout primary flex-child-auto">
						<div class="flip-card card approach-height" ontouchstart="this.classList.toggle('hover');">
							<div class="flip-card-inner approach-height">
								<div class="flip-card-inner-front approach-height approach-box">
									<h3 class="flip-card-inner-front-title approach-font">Policies, Standards & Procedures</h3>
								</div>
								<div class="flip-card-inner-back approach-height approach-box">
									<p class="flip-card-inner-back-text">Establishing a clear set of requirements and activities that must be performed to effectively manage Third Party and Vendor risks</p>
									<p class="flip-card-inner-back-text">Ensuring policies and standards meet all existing legal and regulatory requirements</p>
									<p class="flip-card-inner-back-text">Ensuring that people and teams impacted by policies, standards and procedures are suitably aware, trained and have the right level of support</p>
								</div>
							</div>
						</div>
					</div>
				</div>
	    		<div class="callout primary flex-child-auto">
					<div class="callout primary flex-child-auto">
						<div class="flip-card card approach-height" ontouchstart="this.classList.toggle('hover');">
							<div class="flip-card-inner approach-height">
								<div class="flip-card-inner-front approach-height approach-box">
									<h3 class="flip-card-inner-front-title approach-font">3rd Party & Vendor Inventory</h3>
								</div>
								<div class="flip-card-inner-back approach-height approach-box">
									<p class="flip-card-inner-back-text">Establishing a clear definition for Third Party and Vendors</p>
									<p class="flip-card-inner-back-text">Producing and maintaining a complete and accurate inventory of Third Party and Vendor relationships and services</p>
								</div>
							</div>
						</div>
					</div>
	    		</div>
			    <div class="callout primary flex-child-auto">
					<div class="callout primary flex-child-auto">
						<div class="flip-card card approach-height" ontouchstart="this.classList.toggle('hover');">
							<div class="flip-card-inner approach-height">
								<div class="flip-card-inner-front approach-box approach-height">
									<h3 class="flip-card-inner-front-title approach-font">Risk Profiling & Segmentation</h3>
								</div>
								<div class="flip-card-inner-back approach-height approach-box">
									<p class="flip-card-inner-back-text">Establishing a consistent way to risk assess the Third Party and Vendor base to differentiate the risk profile and to establish an appropriate and proportional management response</p>
								</div>
							</div>
						</div>
					</div>
			    </div>
		 	</div>
	 	</div>
		 <div class="flip-card card approach-assessment" ontouchstart="this.classList.toggle('hover');">
			<div class="flip-card-inner approach-assessment">
				<div class="flip-card-inner-front approach-assessment approach-box">
					<h3 class="flip-card-inner-front-title approach-font">Periodic Assessment</h3>
				</div>
				<div class="flip-card-inner-back approach-assessment approach-box">
					<p class="flip-card-inner-back-text">Executing the required activities over the Third Party and Vendor to manage risk effectively</p>
					<p class="flip-card-inner-back-text">Ensuring appropriate due diligence, performance management, contract review and risk assessment are perf
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="approach" id="approach-text-bottom">
		<div class="marketing-site-hero-content">
			<h4>Many of our products and services across the full Third Party and Vendor Risk life-cycle align to one of these five key components.</h4>
			<p class="subheader">We can quickly diagnose an organisation’s capability or maturity against these components and help resolve any identified issues or gaps.</p>
			<a href="{% url "services" %}" class="round button">our services</a>
		</div>
	</div>
		<div class="approach" id="approach-graphic-bottom">
			<img src="{% static "media/about graphic 2.png" %}">
	</div>
</div>
{% endblock %}