{% extends "base.html" %}
{% load staticfiles %}

{% block title %}3VRM Approach{% endblock %}


{% block content %}
<div class="desktop-visible">	
	<ul class="menu menu-hover-lines">
		<li><a href="{% url "homepage" %}">Home</a></li>
		<li><a href="{% url "about" %}">About 3VRM</a></li>
		<li><a href="{% url "approach" %}">3VRM Approach</a></li>
		<li><a href="{% url "services" %}">3VRM Services</a></li>
		<li><a href="{% url "news" %}">3VRM News</a></li>
		<li><a href="{% url "team" %}">3VRM Team</a></li>
		<li class="active"><a href="{% url "contactUs" %}">Contact Us</a></li>
	</ul>
</div>
<div class="container">
	<div class="contact" id="contact-graphic-top">
		<img src="{% static "media/contact-graphic.png" %}">
	</div>
	<div class="contact" id="contact-intro">
		<div class="marketing-site-hero-content">
			<h1>Contact Us</h1>
			<form role="form" action="" method="post">
	    		{% csrf_token %}
	   			 {{ form.as_p }}
	  			<button class="round button" type="submit">Submit</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}